---
import { getCollection } from "astro:content";
import getSortedPosts from "../utils/getSortedPosts";
import PostNavLink from "./PostNavLink.astro";

const LINKS = [
  {
    href: "/",
    name: "Home",
  },
  {
    href: "/testimonials",
    name: "Testimonials",
  },
  {
    href: "/map",
    name: "Map",
  },
  {
    href: "/blog",
    name: "Blog",
  },
  {
    href: "/doc",
    name: "Doc",
  },
  {
    href: "/faq",
    name: "FAQ",
  },
  {
    href: "/twitter",
    name: "Twitter",
  },
  {
    href: "/search",
    name: "Search",
  },
];
const pathname = Astro.url.pathname;
const POSTS = await getCollection("blog");
const sortedPosts = getSortedPosts(POSTS).slice(0, 6);
---

<header class="shadow-md">
  <div x-data="{ mobileMenuOpen: false }" class="relative z-10 bg-white">
    <div
      class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10"
    >
      <div class="lg:w-0 lg:flex-1">
        <img
          class="h-8 w-auto sm:h-10"
          src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
          alt="Workflow"
        />
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button
          @click="mobileMenuOpen = true"
          type="button"
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
        >
          <svg
            class="h-6 w-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">
        {
          LINKS.map((link) => {
            return (
              <a
                href={link.href}
                class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900"
              >
                {link.name}
              </a>
            );
          })
        }

        <PostNavLink />
        <!-- <div
          x-description="Flyout menu, show/hide based on flyout menu state."
          x-data="{ flyoutMenuOpen: false }"
          @click.away="flyoutMenuOpen = false"
          class="relative"
        >
          <button
            type="button"
            @click="flyoutMenuOpen = !flyoutMenuOpen"
            class="inline-flex items-center space-x-2 text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900"
          >
            <span>More</span>
            <svg
              class="h-5 w-5 text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
          <div
            style="display: none;"
            x-show="flyoutMenuOpen"
            x-transition:enter="transition ease-out duration-200"
            x-transition:enter-start="opacity-0 translate-y-1"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-in duration-150"
            x-transition:leave-start="opacity-100 translate-y-0"
            x-transition:leave-end="opacity-0 translate-y-1"
            class="absolute -ml-6 mt-3 w-max max-w-xs transform lg:ml-0 lg:left-1/2 lg:-translate-x-1/2"
          >
            <div class="rounded-lg shadow-lg">
              <div class="rounded-lg shadow-xs overflow-hidden">
                <div class="z-20 relative space-y-8 bg-white p-8">
                  <a href="#" class="block space-y-1">
                    <p class="text-base leading-6 font-medium text-gray-900">
                      Blog
                    </p>
                    <p class="text-sm leading-5 text-gray-500">
                      Learn about tips, product updates and company culture.
                    </p>
                  </a>
                  <a href="#" class="block space-y-1">
                    <p class="text-base leading-6 font-medium text-gray-900">
                      Help Center
                    </p>
                    <p class="text-sm leading-5 text-gray-500">
                      Get all of your questions answered in our forums of
                      contact support.
                    </p>
                  </a>
                  <a href="#" class="block space-y-1">
                    <p class="text-base leading-6 font-medium text-gray-900">
                      Guides
                    </p>
                    <p class="text-sm leading-5 text-gray-500">
                      Learn how to maximize our platform to get the most out of
                      it.
                    </p>
                  </a>
                  <a href="#" class="block space-y-1">
                    <p class="text-base leading-6 font-medium text-gray-900">
                      Events
                    </p>
                    <p class="text-sm leading-5 text-gray-500">
                      Check out webinars with experts and learn about our annual
                      conference.
                    </p>
                  </a>
                  <a href="#" class="block space-y-1">
                    <p class="text-base leading-6 font-medium text-gray-900">
                      Security
                    </p>
                    <p class="text-sm leading-5 text-gray-500">
                      Understand how we take your privacy seriously.
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </nav>
      <div
        class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0"
      >
      </div>
    </div>

    <div
      x-description="Mobile menu, show/hide based on mobile menu state."
      x-show="mobileMenuOpen"
      x-transition:enter="duration-150 ease-out"
      x-transition:enter-start="opacity-0 scale-95"
      x-transition:enter-end="opacity-100 scale-100"
      x-transition:leave="duration-100 ease-in"
      x-transition:leave-start="opacity-100 scale-100"
      x-transition:leave-end="opacity-0 scale-95"
      class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
    >
      <div class="rounded-lg shadow-lg">
        <div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50">
          <div class="pt-5 pb-6 px-5 space-y-6">
            <div class="flex items-center justify-between">
              <div>
                <img
                  class="h-8 w-auto"
                  src="https://tailwindui.com/img/logos/workflow-mark-on-white.svg"
                  alt="Workflow"
                />
              </div>
              <div class="-mr-2">
                <button
                  @click="mobileMenuOpen = false"
                  type="button"
                  class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
                >
                  <svg
                    class="h-6 w-6"
                    stroke="currentColor"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
            </div>
            <div>
              <nav class="space-y-6">
                {
                  sortedPosts.map((post) => {
                    return (
                      <a
                        href={`/blog/${post.slug}`}
                        class="flex items-center space-x-4"
                      >
                        <div class="flex-shrink-0 flex items-center justify-center h-10 w-10 rounded-md bg-indigo-500 text-white">
                          <img
                            src={post.data.image}
                            alt="Image"
                            class="w-full h-full object-cover"
                          />
                        </div>
                        <div class="text-base leading-6 font-medium text-gray-900">
                          {post.data.title}
                        </div>
                      </a>
                    );
                  })
                }
              </nav>
            </div>
          </div>
          <div class="py-6 px-5 space-y-6">
            <div class="grid grid-cols-2 gap-4">
              {
                LINKS.map((link) => {
                  return (
                    <a
                      href={link.href}
                      class="text-base leading-6 font-medium text-gray-900"
                    >
                      {link.name}
                    </a>
                  );
                })
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
